@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: #010302;
    margin :0;
    font-family: 'Josefin Sans', sans-serif;    font-size: 15px;
    overflow-x: hidden;
}

.container{
    height: max-content;

}
.banner{
    height: 100vh;
    position: relative;     
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg:nth-child(1){
    background-image: url(images/banner_0.png);
}
.banner .bg:nth-child(2){
    background-image: url(images/banner_1.png);
}
.banner .bg:nth-child(3){
    top: 32%;
    text-align: center;
} 
.banner h3
{
    color: #d1c3ae;
    font-size: 50px;
    margin: 0;
    text-shadow: 0 0px 20px #d2af76;
}

.banner p{
    color: #d1c3ae;
        font-size: 30px;
        margin: 0;
        text-shadow: 0 0px 20px #d2af76;
}
.banner .bg h1
{
    font-size: 11vw;
}
.banner .bg{
    background-image: url(images/banner_2.png);
}
.tab{
    min-height: 100vh;
    background-color: #010302;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tab.tab1{
    background:url(images/tab1.jpg);
}
.tab.tab1 .content{
    width: 800px;
    max-width: 90%;
    color: #eee;
    margin-top: 18%;
    font-size: 18px;
    text-align: justify;
    line-height: 1.2;
}

.back {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

}